<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.8/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.8/css/sm-extend.min.css">

</head>
<body>
<!-- 你的html代码 -->
<header class="bar bar-nav">
    <h1 class="title">Alert</h1>
</header>
...
<div class="content">
    <div class="content-block">
        <p><a href="#" class="alert-text">Alert With Text</a></p>
        <p><a href="#" class="alert-text-title">Alert With Text and Title</a></p>
        <p><a href="#" class="alert-text-title-callback">Alert With Text and Title and Callback</a></p>
        <p><a href="#" class="alert-text-callback">Alert With Text and Callback</a></p>
    </div>
</div>
...


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.8/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.8/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $(function(){
        $(document).on('click','.alert-text',function () {
            $.alert('Here goes alert text');
        });

        $(document).on('click','.alert-text-title', function () {
            $.alert('Here goes alert text', 'Custom Title!');
        });

        $(document).on('click', '.alert-text-title-callback',function () {
            $.alert('Here goes alert text', 'Custom Title!', function () {
                $.alert('Button clicked!')
            });
        });

        $(document).on('click', '.alert-text-callback',function () {
            $.alert('Here goes alert text', function () {
                $.alert('Button clicked!')
            });
        });
    })
</script>
</body>
</html>